.styled-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #333;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.styled-link:hover {
    background-color: white;
    color: black;
}

ul {
    list-style-position: inside;
    text-align: center;
}